 #b1{



 	border: 1px solid;
 	border-radius: 1px ;

 	background-color:rgb(25,0,0);

 }

 #b2{
 	

 	border: 1px solid;
 	border-radius: 1px ;

 }

 #b3{
 	

 	border: 1px solid;
 	border-radius: 1px ;

 }